# pytorch
*.pt
*.pth
*.bin

# vscode
.vscode

# cache
*.pyc
__pycache__/
**/cache/

# wsi and examples
*.svs
*.tiff
/test_database*
/test-results

# notebooks
/notebooks

# other
.DS_Store
cufile.log
gdc-client
cellvit.egg-info
dist

./tests/data
./tests/test_data

.coverage*