# pytorch
*.pt
*.pth
*.bin

# vscode
.vscode

# cache
*.pyc
__pycache__/
**/cache/
.pytest_cache/
.ruff_cache/

# wsi and examples
*.svs
*.tiff
/test_database*
/test_results
/test_scripts

# notebooks
/notebooks

# other
.DS_Store
cufile.log
gdc-client
cellvit.egg-info
dist

./tests/data
./tests/test_data
!tests/data/test_wsi_database/BRACS_1640_N_3_cropped.tiff

.coverage*

Readmenew.md
docs/build
